name: "PR Checks"
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  check_pr:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        
      - uses: pnpm/action-setup@v4
        with:
          version: latest

      - uses: actions/setup-node@v6
        with:
          node-version: 20
          cache: 'pnpm'

      - name: "pnpm install"
        run: pnpm install
      
      - name: "pnpm build"
        run: pnpm build

      - name: "check for uncommitted changes"
        # Ensure no changes, but ignore node_modules dir since dev/fresh ci deps installed.
        run: |
          git diff --exit-code --stat -- . ':!node_modules' \
          || (echo "##[error] found changed files after build. please 'pnpm build && pnpm run format'" \
                   "and check in all changes" \
              && exit 1)
