name: "Test"
on: [push, pull_request] 

jobs:
  check_pr:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
      
    - uses: pnpm/action-setup@v4
      with:
        version: latest

    - uses: actions/setup-node@v6
      with:
        node-version: 20
        cache: 'pnpm'

    - name: "pnpm install"
      run: pnpm install

    - name: "pnpm test"
      run: pnpm test