name: "Test"
on: [push, pull_request] 

jobs:
  check_pr:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
      
    - uses: actions/setup-node@v5
      with:
        node-version: 20

    - name: "yarn install"
      run: yarn install

    - name: "yarn test"
      run: yarn test