name: "Test"
on: [push, pull_request] 

jobs:
  check_pr:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2.3.5

    - name: "yarn install"
      run: yarn install

    - name: "yarn test"
      run: yarn test